---
import GitHub from "../icons/Github.astro"
import Tailwind from "../icons/Tailwind.astro"
import Link from "../icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Javascript from "../icons/Javascript.astro"
import HTML from "../icons/HTML.astro"
import CSS from "../icons/CSS.astro"
import React from "../icons/React.astro"
import Redux from "../icons/Redux.astro"
import Sequelize from "../icons/Sequelize.astro"
import Express from "../icons/Express.astro"

const TAGS = {
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellow-500 text-black font-bold",
    icon: Javascript,
  },
  HTML: {
    name: "HTML",
    class: "bg-orange-400 text-black font-bold",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    class: "bg-blue-500 text-black font-bold",
    icon: CSS,
  },
  REACT: {
    name: "React",
    class: "bg-sky-600 text-black font-bold",
    icon: React,
  },
  REDUX: {
    name: "Redux",
    class: "bg-indigo-400 text-black font-bold",
    icon: Redux,
  },
  SEQUELIZE: {
    name: "Sequelize",
    class: "bg-sky-800 text-black font-bold",
    icon: Sequelize,
  },
  EXPRESS: {
    name: "Express",
    class: "bg-slate-500 text-black font-bold",
    icon: Express,
  },
}
const PROJECTS = [
  {
    title: "Pokedex - Pokemon",
    description:
      "Sitio web moderno y eficiente para los fanáticos de Pokémon. Su principal función es proporcionar información detallada sobre Pokémon, utilizando su API oficial. La aplicación está diseñada para ofrecer una experiencia de usuario fluida y completa en información. Además de la posibilidad de crear a tu propio Pokémon personalizable!!",
    link: "",
    github: "https://github.com/Drake4044/PI-Henry-Pokemons",
    image: "/projects/pokemon/pokemon-1.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS, TAGS.REACT, TAGS.REDUX, TAGS.EXPRESS, TAGS.SEQUELIZE],
  },
  {
    title: "JavaScrtipt - Tetris",
    description:
      "Aplicación web interactiva desarrollada en JavaScript que permite a los usuarios disfrutar del icónico juego de Tetris directamente desde su navegador. Diseñada con una interfaz intuitiva y controles sencillos, esta app ofrece una experiencia de juego fiel al clásico Tetris.",
    link: "",
    github: "https://github.com/Drake4044/Tetris-Game",
    image: "/projects/tetris/tetris-1.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS],
  },
]
---

<div class="flex flex-col gap-y-4">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 transition-all duration-100 p-4">
  <div class="w-full md:w-1/2 z-10 translate-y-36 md:translate-y-0 group-hover:translate-y-0 md:translate-x-60 md:group-hover:translate-x-0 transition-all duration-500">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out scale-75 group-hover:scale-100 md:scale-100 transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700">
      {/* <Carousel/> */}
      <img alt="photo project" class="object-cover object-top w-full transition duration-500 scale-150 group-hover:scale-100" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg -translate-y-56 md:-translate-y-0 group-hover:-translate-y-0 scale-0 md:scale-50 md:opacity-0 md:-translate-x-56 md:group-hover:opacity-100 md:group-hover:-translate-x-0 group-hover:scale-100 transition-all duration-1000">
    <h3 class="text-2xl font-bold text-gray-200">
      {title}
    </h3>
    <div class="flex flex-wrap mt-3 m-auto grid-rows-2]">
      <ul class="grid grid-cols-3 xs:grid-cols-4 gap-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex justify-center items-center gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-5" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-4 text-gray-300">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>
